# snapcraft kernel build artefacts
builder/kernel/parts/
builder/kernel/prime/
builder/kernel/roseapple-pi-kernel_*armhf.snap
builder/kernel/stage/

# snaps and images
builder/roseapple-pi-*.img.xz
builder/roseapple-pi_*.snap
builder/roseapple-pi-kernel_*armhf.snap

# uboot build
u-boot-build/
u-boot/

# gadget snap artifacts
builder/gadget/boot-assets/
builder/gadget/uboot.conf
builder/gadget/uboot.env
